################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanCodeScaffold/CleanCodeScaffold.Api/bin/Debug/net6.0
/CleanCodeScaffold/CleanCodeScaffold.Application/bin/Debug/net6.0
/CleanCodeScaffold/CleanCodeScaffold.Domain/bin/Debug/net6.0
/CleanCodeScaffold/CleanCodeScaffold.Infrastructure/bin/Debug/net6.0
/.vs/myCode/v17
/CleanCodeScaffold/.vs/CleanCodeScaffold/config
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex/4659965c-ffe1-4788-9830-edb00b0457e8.vsidx
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex/a1c712b7-67f0-4521-ad84-5363af150446.vsidx
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex/f140cef7-2101-40d7-8cbf-a9ff97c551e4.vsidx
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex/f4161dbe-c9b3-4c5f-bb9f-70badc7869d2.vsidx
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex/read.lock
/CleanCodeScaffold/.vs/CleanCodeScaffold/FileContentIndex
/CleanCodeScaffold/.vs/CleanCodeScaffold/v17/.suo
/CleanCodeScaffold/.vs/ProjectEvaluation/cleancodescaffold.metadata.v5.2
/CleanCodeScaffold/.vs/ProjectEvaluation/cleancodescaffold.projects.v5.2
/CleanCodeScaffold/.vs/CleanCodeScaffold/DesignTimeBuild/.dtbcache.v2
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/ref
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/refint
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/staticwebassets
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/project.nuget.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/project.assets.json
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/CleanCodeScaffold.Api.csproj.nuget.g.targets
/CleanCodeScaffold/CleanCodeScaffold.Api/Util/ResponseExtentions.cs
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/CleanCodeScaffold.Api.csproj.nuget.g.props
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/CleanCodeScaffold.Api.csproj.nuget.dgspec.json
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.csproj.CoreCompileInputs.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.csproj.FileListAbsolute.txt
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.dll
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.GeneratedMSBuildEditorConfig.editorconfig
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.genruntimeconfig.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.MvcApplicationPartsAssemblyInfo.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.MvcApplicationPartsAssemblyInfo.cs
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.pdb
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.sourcelink.json
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/staticwebassets.build.json
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/apphost.exe
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.AssemblyInfo.cs
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.AssemblyInfoInputs.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.assets.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.csproj.AssemblyReference.cache
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.csproj.BuildWithSkipAnalyzers
/CleanCodeScaffold/CleanCodeScaffold.Api/obj/Debug/net6.0/CleanCodeScaffold.Api.csproj.CopyComplete
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.AssemblyInfo.cs
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.AssemblyInfoInputs.cache
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.assets.cache
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.csproj.AssemblyReference.cache
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.csproj.BuildWithSkipAnalyzers
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.csproj.CoreCompileInputs.cache
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.csproj.FileListAbsolute.txt
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.dll
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.GeneratedMSBuildEditorConfig.editorconfig
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/CleanCodeScaffold.Domain.pdb
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0/refint/CleanCodeScaffold.Domain.dll
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj/Debug/net6.0
/CleanCodeScaffold/CleanCodeScaffold.Domain/obj
/CleanCodeScaffold/CleanCodeScaffold.Infrastructure/obj/Debug/net6.0
/CleanCodeScaffold/CleanCodeScaffold.Infrastructure/obj
