
  <div class="page">
    <div class="header">
      <div class="line"></div>
      <div class="second-line"></div>
      <div class="third-line"></div>
      <div class="triangle"></div>
      <div class="content">
        <div class="report-name">
          <h2>[title]</h2>
        </div>
        <div class="company-det">
          <img src="https://github.com/waleed415/CleanCodeScaffold/blob/develop/CleanCodeScaffold/logo.png?raw=true" />
        </div>
      </div>
    </div>
    <div class="content">
      [content]
    </div>
    <div class="footer">
      <div class="line"></div>
      <div class="second-line"></div>
      <div class="third-line"></div>
      <div class="pager">[pager]</div>
      <div class="triangle"></div>
    </div>
  </div>
  
